html {
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background-light {
  background-color: whitesmoke;
}

.main-content {
  background-color: #C7C8CC;
}

.surah-number {
  width: 25px;
  height: 25px;
  padding: 2.1px 1px;
  margin-right: 17px;
  font-size: 13.1px;
  text-align: center;
  color: white;
  border-radius: 50%;
}